:root
{
    --search-background-color: dodgerblue;
    --search-text-color: black;
    --search-secondary-text-color: gray;
    --search-invert-text-color: white;
    --search-text-background-color: white;
    --search-button-background-color: orange;
    --search-page-width: 1250px;
    --search-page-primary-font-size: 16px;
    --search-page-secondary-font-size: 11px;
    --search-page-search-button-font-size: 22px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  
.search-body {
    min-width: var(--search-page-width);
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Inter","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
}

@font-face {
    font-family: "Inter";
    src: url("https://fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZthiI2B.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Inter";
    src: url("https://fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hiA.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Inter";
    src: url("https://fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZthiI2B.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
 }

 @font-face {
    font-family: "Inter";
    src: url("https://fonts.gstatic.com/s/inter/v2/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hiA.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

.search-header,
.search-main,
.search-footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr var(--search-page-width) 1fr;
    grid-template-columns: 1fr var(--search-page-width) 1fr;
}

.search-header-background-left,
.search-main-background-left,
.search-footer-background-left {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
}

.search-header-background-right,
.search-main-background-right,
.search-footer-background-right {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
}

.search-header {
    color: var(--search-invert-text-color);
    background-color: var(--search-background-color);
    height: 10vh;
}

.search-header-background {
    background-color: var(--search-background-color);
}

.search-header-section {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.search-company-logo {
    align-self: flex-start;
}

.search-header-menu {
    align-self: flex-end;
}

.search-header-menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.search-header li {
    list-style-type: none;
}

.search-header-menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.search-section {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--search-invert-text-color);
    background-color: var(--search-background-color);
    height: 90vh;
}

.search-main-background-left {
    background-color: var(--search-background-color);
}

.search-main-background-right {
    background-color: var(--search-background-color);
}

.search-intro-header {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 0;
}

.search-intro-description {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 100px;
}

/* search controls grid */

.search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
}

.search-main-controls {
    position: relative;
    width: 82%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 16.7% 16.7% 16.6%;
    grid-template-columns: 25% 25% 16.7% 16.7% 16.6%;
}

.search-main-control input,
.search-main-control button {
    width: 100%;
}

.point-input-wrapper {
    position: relative;
}

.search-primary-input-label {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
}

.departure-point-input-wrapper {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
}

.arrival-point-input-wrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
}

.departure-date-input-wrapper {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
}

.arrival-date-input-wrapper {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4 / 5;
}

.passengers-and-class-combo-wrapper {
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5 / 6;
}

.search-button {
    width: 18%;
    margin-left: 0.8%;
}

.point-input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.search-primary-input-label {
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    font-size: var(--search-page-secondary-font-size);
    text-transform: uppercase;
}

.search-primary-input {
    font-size: var(--search-page-primary-font-size);
    font-weight: normal;
    line-height: 1.75em;
    padding: 8px 12px;
}

.departure-point-input,
.arrival-point-input {
    width: 100%;
    padding-right: 58px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.point-code-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.8em;
    z-index: 2;
    border: none;
    pointer-events: none;
    background-color: transparent;
}

.point-code {
    vertical-align: middle;
    font-size: 0.8rem;
    color: var(--search-secondary-text-color);
}

.search-button {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 18px;
    padding: 14px 18px;
    height: 100%;
    font-size: var(--search-page-search-button-font-size);
    border-radius: 5px;
    border-style: none;
    background-color: var(--search-button-background-color);
    color: var(--search-invert-text-color);
}

.calendar-wrapper {
    position: absolute;
    margin-top: 1px;
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /*
    не работает, обрезается правая часть календаря
    left: 50%;
    transform: translateX(-50%);
    */
}

.before-search-area {
    height: 0vh;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
}

.after-search-area {
    height: 72vh;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
}

